html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #495579;
}
h1{
	color: black;
	text-align: center;
}
a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}
p{
	text-align: justify;
}

main-rp{
	display: grid;
	grid-template-columns: auto auto auto;
	Gap: 10px;
}

.index{
	background: rgb(38,49,89);
	background: radial-gradient(circle,  rgba(216,205,181,1) 10%, rgba(38,49,89,1) 37%);
	grid-row: auto;
	border: 2px solid rgba(7, 59, 79, 0.5);
}
.rp{
	grid-column: span 2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: rgb(38,49,89);
background: radial-gradient(circle,  rgba(216,205,181,1) 10%, rgba(38,49,89,1) 37%);
}

.section-2 {
	background-color: rgb(38,49,89);
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:400px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: #77898B;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.footer{
	padding: 5px;
	background: transparent;
}
.footer img{
	max-height: 40px;
}

.void-background {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
