/* Jarett Dewbury's Website CSS */
/*------------------------------*/

/* -------Colours----------*/


.grey {
  color: #333;
}
.lightpurp {
  color: #899299;
}
.purple {
  color: #8262FF;
}
.darkestgrey {
  color: #222629;
}
.grey {
  color: #282d31; /* I know this grey is darker than dark grey, but I already coded so much, so I didn't feel like going back and changing them all*/
}
/*-----------------------------*/

/* -------Navigation Bar----------*/
html, body{
  font-family: BioRhyme;
  font-weight: bold;
	font-size:13px;
	color: #333;
	background-color: #fff; 
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index:100;
}

.topnav a {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 15px;
  position: relative;
  float:left;
  transition: 0.5s;
}

.topnav a:hover {
  color: #8262FF;
}

/*effect-underline*/
.topnav a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  margin-left:10%;
  width: 80%;
  border-bottom: 3px solid #cbbeff;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.topnav a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.topnav b {
  display: block;
  color: #8262FF;
  text-align: center;
  margin-top: 57px;
  text-decoration: none;
  position: relative;
  float:left;
  transition: 0.5s;
  padding-right: -10px;
  border-left: 2px solid #8262FF;
  height: 25px;
  padding-right: 10px;
}

.topnav ol {
  position: relative;
  display: inline;
}


.logo {
  margin-top: 30px;
  margin-left: 75px;
  height: 85px;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 11px 50px;
  transition: 0.5s;
}

.logo:hover {
  opacity: 20%;
}

.addspace {
  width: 470px
}

.topnav .icon {
  font-size: 25px;
  margin-right: 75px;
  margin-top: 10px;
  display: none;
  color: #333;
}

@media screen and (max-width: 1310px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    transition: none;
  }
}

@media screen and (max-width: 1310px) {
  .topnav a {display: none;}
}

@media screen and (max-width: 1310px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    margin-right: 85px;
    margin-top: 25px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
  }
  .topnav .logo {
    float: none;
    text-align: left;
    padding-right: 10px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    position: relative;
    display: block;
    text-decoration: none;
    z-index:1;
    padding-bottom: 20px;
    font-size: 17px;
    margin-top: -20px;
  }
  .topnav a.effect-underline:after{
    border-bottom: none;
  }
  .topnav b {
    display: none;
  }
  
}

/*-----------------------------*/


/* -------Side Navigation Bar----------*/
.sidenav {
  margin-top: 315px;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
}

.sidenav a {
  margin-left: 123px;
  padding: 6px 6px 6px 32px;
  transition: 0.5s;
  font-size: 25px;
  display: block;
}

.sidenav a:hover {
  color: #8262FF;

}

.vl {
  margin-left: 166px;
  border-left: 2px solid #333;
  height: 350px;
}
/*-----------------------------*/

@media screen and (max-width: 1310px) {
  .sidenav a {
    margin-left: 50px;
    transition: 0.5s;
  }
  .vl {
    margin-left: 93px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 900px) {
  .sidenav {
    width: 75px;
  }
}


/* -------Home Section----------*/

.sectiontitle{
  margin-left: 20px;
  color: #59646d;
  font-size: 2vw;
}

.section1 {
	background-image : url('../img/web_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-bottom: 3rem;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  padding-left: 16%; /* Same as the width of the sidenav */
  padding-right: 8%;
  overflow-x: hidden;
}

.section2 {
	background-image : url('../img/Web_bg4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-bottom: 3rem;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  padding-left: 16%; /* Same as the width of the sidenav */
  padding-right: 8%;
  overflow-x: hidden;
}

.section3 {
	background-image : url('../img/brain.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-bottom: 3rem;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  padding-left: 16%; /* Same as the width of the sidenav */
  padding-right: 8%;
  overflow-x: hidden;
}

.section {
  background-color: #fff;
	padding-bottom: 3rem;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  padding-left: 16%; /* Same as the width of the sidenav */
  padding-right: 8%;
  overflow-x: hidden;
}


h1 {
  color: #333;
  font-weight: bold;
  font-size: 3.7vw;
  line-height: 100%;
  margin: 10px;
  margin-top: 300px;
  transition: 0.2s;
  margin-left: 20px;
}
.text {
  margin-top: -70px;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .section{
  margin-left: -3%;
  padding-left: 15%;
  }
  .section1{
    margin-left: -3%;
    padding-left: 25%;
    }

  h1 {
    font-size: 35px;
    }

  .text {
    margin-left: 6px;
  }
  .word{
    margin-left: -8px;
  }
}

c {
  word-break: keep-all;
  text-align: center;
  font-weight: bold;
	font-size:25px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: #59646d;
}
.word {
  position: absolute;
  width: 500px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.number {
  float: right;
  margin-top:250px;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  background-color: #222629;
  margin-right: 125px;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.icon {
  margin-top: 18px;
  color:#333;
}

.icon:hover {
  color: #8262FF;
}


/*-----------------------------*/

/* -------About Section----------*/

.hl {
  margin-top: 2.4vw;
  border-bottom: 2px solid #c7ccd0;
  width: 80%;
  display: inline-block;
  margin-left: 50px;
}

.avatar{
  margin-top: 65px;
  height: 260px;
  width: 260px;
  border-radius: 1%;
  margin-left: 45px;
  transition: 0.5s;
  display: inline;
  float:left;
}

.avatar:hover{
  opacity: 1%;
}

#about .abouttext {
  color: #59646d;
  padding-top: 50px;
  padding-left: 7.5vw;
  display: inline-block;
  width: 52%;
  position: relative;
  font-size: 13px;
}

#about a{
  color: #59646d;
  margin-bottom: 0.5px;
  border-bottom: 1px #c7ccd0 dashed;
  transition: 0.5s;
}

#about a:hover {
  color: #8262FF;
  border-bottom: 1px #8262FF dashed;
}

#about b{
  color: #333;
  position: relative;
  border-bottom: 1px #8262FF dashed;
}

#about c {
  color: #8262FF;
  float: right;
  margin-right: 3px;
  font-size: 1.6vw;
  padding-top: 5px;
}

#about .quote {
  color: #333;
  font-size: 1.5vw;
  margin-left: 20px;
}

.circles{
  height: 250px;
  width: auto;
  border-radius: 1%;
  transition: 0.5s;
  display: inline;
  opacity: 70%;
}

@media screen and (max-width: 700px) {
  #about .abouttext {
    font-size: 2.5vw;
    width: 90%;
    margin-left: 0px;
    float: none;
    margin-left: -5px;
  }
  #about .quote {
    font-size: 2.5vw;
    margin-left: -3px;
  }
  #about c {
    margin-right: 5%;
    font-size: 2.6vw;
    width: 80%;
  }
  .sectiontitle{
    margin-left: -3px;
    font-size: 20px;
  }
  
}

/*-----------------------------*/


/* -------Experience Section----------*/

.container {
  margin-left: 0px;
  width: 90%;
}

.jobtitle {
  padding-top: 10px;
  font-size: 20px;
  font-weight:bolder;
  color: #59646d;
  border-bottom: 1px #c7ccd0 dashed;
  transition: 0.5s;
}

.jobtitle:hover {
  color:#8262FF;
  border-bottom: 1px #8262FF dashed;
}


.jobrole {
  font-size: 17px;
  color: #333;
}

.jobinfo {
  font-size: 12px;
  font-weight:lighter;
  color: #59646d;
}

.words {
  font-weight:200;
  font-size: 14px;
}

.jobimage{
  height: 150px;
  width: auto;
  border-radius: 1%;
  margin-left: 50px;
  transition: 0.5s;
  display: inline;
  float:left;
}

.jobimage2{
  height: 150px;
  width: auto;
  border-radius: 1%;
  margin-left: 50px;
  transition: 0.5s;
  display: inline;
  float:left;
  padding-left: 30px;
  padding-right: 45px;
}

.jobimage3{
  height: 150px;
  width: auto;
  border-radius: 1%;
  margin-left: 30px;
  transition: 0.5s;
  display: inline;
  float:left;
  padding-left: 30px;
  padding-right: 45px;
}

.avatar:hover{
  opacity: 60%;
}

.abouttext {
  color: #59646d;
  padding-top: 50px;
  padding-left: 40px;
  display: inline-block;
  width: 60%;
  position: relative;
  font-size: 14px;
}
/*-----------------------------*/


/* -------Bottom Section----------*/
.sectionfinal{
  background-image : url('../img/Web_bg.png');
  background-position: center;
	padding-bottom: 3rem;
  overflow-y: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 1vw;
  color: #333;
}

@media screen and (max-width: 1100px) {
  .sectionfinal{
    font-size: 11px;
  }
}
/*-----------------------------*/
