html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	box-shadow: 0 0 15px 5px rgba(256, 256, 256, 0.1);
	height: 400px;
	width: 360px;
	transition: transform 200ms ease-in;
	cursor: pointer;
}
.box:hover{
	transform: scale(1.02);
}


.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;

}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

h3{
	text-align: center;
	font-size: 1.5rem;
	font-weight: normal;
}

#projects .columns{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-content: center;
}

figure img{
	margin: 1rem 0;
}




@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}