html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #5D5C61; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
	/* padding-top: 1rem;
	padding-bottom: 1rem; */
}

.section-1 {
	background: #5D5C61 ;
}

.section-2 {
	background-color: #5D5C61 ;
}

.section-3 {
	background-color: #379683;
}

.section-4 {
	background-color: #063647;
	/* padding: 0.2rem; */
}

a.nav-item {
	color: #4dd1b7;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.skill_logos{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	
}
.skil_logo{
	width: 10%;
	margin: .5rem;
	
}
#skills{
	height: 25rem;
	
}

.social-container img{
	/* max-width:100%; */
	width: auto;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}
/* .gif {
	width: 120em;
	height: auto;
} */
.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid #9b9bd4;
}

.title {
	color: #fff;
	text-align: center;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
